$o-brand-odoo: $o-community-color;
$o-modal-lg: 980px;
$o-modal-md: 650px;
.o_main_navbar {
    // padding-ro: 30px;
    position: relative;
    height: 46px;
    border-bottom: 1px solid #8a5910;
    background-color: #b87715;
    color: white;
    font-size: 18px;
  }